header {
    background-color:red;
  }
  
  #brand {
    float: left;
    font-size: 30px;
    color: white;
  }
  
  .hstack {
    display: flex;
  }

  .gstack {
    display: flex;
  }
  
  .login{
    color: black;
    text-decoration: none;
    opacity: 0.8;
    font-size: large;
    background-color: rgb(58, 214, 58);
    border-radius: 15%;
  }
  .createacc {
    color: black;
    text-decoration: none;
    opacity: 0.8;
    font-size: large;
    background-color: rgb(255, 187, 0);
    border-radius: 15%;
  }
  